body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: 
      linear-gradient(
        90deg,
        rgba(255,255,255,1) 0%,
        rgba(255,255,255,1) 50%,
        rgba(221,221,221,1) 50%,
        rgba(221,221,221,1) 100%
      );
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  header {
    background-color: lightgray;
    padding: 10px;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  main {
    padding: 20px;
  